<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<!-- missing shortcuts for visual -->
	<!-- Q: will having two providers for the same superclass (VisibleThing <- ApplicationElement) cause problems? -->
	<!-- A: no. either getElement() is very specific (ignores supertypes) or its done in order. -->
	<extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
	  <editpartProvider class="org.openiaml.model.diagram.custom.edit.providers.CustomVisualEditPartProvider">
	    <Priority name="Low" />
	    <object class="org.eclipse.gmf.runtime.notation.Diagram" id="MyOverride">
	      <method name="getElement()">
	        <value class="org.openiaml.model.model.VisibleThing"/>
	      </method>
	    </object>
	    <context
           views="MyOverride"/>
	  </editpartProvider>
	</extension>

	<!-- missing shortcuts for root -->
	<extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
	  <editpartProvider class="org.openiaml.model.diagram.custom.edit.providers.CustomRootEditPartProvider">
	    <Priority name="Low" />
	    <object class="org.eclipse.gmf.runtime.notation.Diagram" id="MyOverride">
	      <method name="getElement()">
	        <value class="org.openiaml.model.model.InternetApplication"/>
	      </method>
	    </object>
	    <context
           views="MyOverride"/>
	  </editpartProvider>
	</extension>

	<!-- missing shortcuts for wire -->
	<extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
	  <editpartProvider class="org.openiaml.model.diagram.custom.edit.providers.CustomWireEditPartProvider">
	    <Priority name="Low" />
	    <object class="org.eclipse.gmf.runtime.notation.Diagram" id="MyOverride">
	      <method name="getElement()">
	        <value class="org.openiaml.model.model.wires.CompositeWire"/>
	      </method>
	    </object>
	    <context
           views="MyOverride"/>
	  </editpartProvider>
	</extension>

	<!-- missing shortcuts for domain_store -->
	<extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
	  <editpartProvider class="org.openiaml.model.diagram.custom.edit.providers.CustomDomainStoreEditPartProvider">
	    <Priority name="Low" />
	    <object class="org.eclipse.gmf.runtime.notation.Diagram" id="MyOverride">
	      <method name="getElement()">
	        <value class="org.openiaml.model.model.DomainStore"/>
	      </method>
	    </object>
	    <context
           views="MyOverride"/>
	  </editpartProvider>
	</extension>


	<!-- missing shortcuts for element -->
	<extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
	  <editpartProvider class="org.openiaml.model.diagram.custom.edit.providers.CustomElementEditPartProvider">
	    <Priority name="Low" />
	    <object class="org.eclipse.gmf.runtime.notation.Diagram" id="MyOverride">
	      <method name="getElement()">
	        <value class="org.openiaml.model.model.ApplicationElement"/>
	      </method>
	    </object>
	    <context
           views="MyOverride"/>
	  </editpartProvider>
	</extension>
	
</plugin>
