table { width: 60%; }
th, td { text-align: left; font-family: Arial; font-size: 80%; }
th { background: #ccf; }
td.instances, td.percent, td.unique { text-align: right; }
.name { width: 55%; }
.instances { width: 15%; }
.percent { width: 15%; }
.unique { width: 15%; }
table.class { margin-top: 1em; margin-bottom: 1em; }
tr.main th, tr.main td { font-size: 120%; }
tr.super .name { padding-left: 1em; }
tr.feature .name { padding-left: 2em; background: white; font-weight: normal; }
.count2,.count1 { background: #ffc; }
.count0 { background: #fcc; }
tr.feature .count2, tr.feature .count1, tr.feature .count0 { background: white; }
.uniq1 { background: #ffc; }
.uniq0 { background: #fcc; }
