<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes">
      <?gmfgen generated="true"?>
      <fileTypes
         type="text"
         extension="iaml_condition_diagram">
      </fileTypes>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <?gmfgen generated="true"?>
      <parser
         type="iaml_condition_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <?gmfgen generated="true"?>
      <editor
         id="org.openiaml.model.model.diagram.condition.part.IamlDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/ModelDiagramFile.gif"
         extensions="iaml_condition_diagram"
         default="true"
         class="org.openiaml.model.model.diagram.condition.part.IamlDiagramEditor"
         matchingStrategy="org.openiaml.model.model.diagram.condition.part.IamlMatchingStrategy"
         contributorClass="org.openiaml.model.model.diagram.condition.part.IamlDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.openiaml.model.model.diagram.condition.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/ModelDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.openiaml.model.model.diagram.condition.part.IamlCreationWizard"
  	     id="org.openiaml.model.model.diagram.condition.part.IamlCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            adaptable="false"
            id="org.openiaml.model.diagram.condition.CreateShortcut"
            objectClass="org.openiaml.model.model.diagram.condition.edit.parts.CompositeConditionEditPart">
         <action
               class="org.openiaml.model.model.diagram.condition.part.IamlCreateShortcutAction"
               enablesFor="1"
               id="org.openiaml.model.diagram.condition.CreateShortcutAction"
               label="%createShortcutActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>                      
      <objectContribution
            adaptable="false"
            id="org.openiaml.model.diagram.condition.LoadResource"
            objectClass="org.openiaml.model.model.diagram.condition.edit.parts.CompositeConditionEditPart">
         <action
               class="org.openiaml.model.model.diagram.condition.part.IamlLoadResourceAction"
               enablesFor="1"
               id="org.openiaml.model.diagram.condition.LoadResourceAction"
               label="%loadResourceActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>           
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.openiaml.model.diagram.condition.InitDiagram"
            nameFilter="*.iaml_condition"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="org.openiaml.model.model.diagram.condition.part.IamlInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.openiaml.model.diagram.condition.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="Iaml_ConditionPresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.openiaml.model.model.diagram.condition.part.IamlDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="Iaml_ConditionPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.openiaml.model.model.diagram.condition.part.IamlDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="Iaml_ConditionRender">
         <Priority name="Lowest"/>
         <ViewId id="org.openiaml.model.model.diagram.condition.part.IamlDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="true"?>
      <contributionItemProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider"
            checkPluginLoaded="false">
         <Priority name="Low"/>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.openiaml.model.model.diagram.condition.edit.parts.ConditionalEdgeNameEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
      </contributionItemProvider>
   </extension>

   <extension id="ValidationContributionItemProvider" name="Validation"
      point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="true"?>
      <contributionItemProvider
         class="org.openiaml.model.model.diagram.condition.providers.IamlValidationProvider">
         <Priority name="Low"/>
         <partContribution id="org.openiaml.model.model.diagram.condition.part.IamlDiagramEditorID">
            <partMenuGroup menubarPath="/diagramMenu/" id="validationGroup"/>
            <partAction id="validateAction" menubarPath="/diagramMenu/validationGroup"/>
         </partContribution>
      </contributionItemProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="org.openiaml.model.model.diagram.condition.providers.IamlMarkerNavigationProvider">
         <MarkerType name="org.openiaml.model.diagram.condition.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Iaml Plugin (Condition) problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="org.openiaml.model.model.diagram.condition.providers.IamlValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <?gmfgen generated="true"?>
      <initializer class="org.openiaml.model.model.diagram.condition.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <?gmfgen generated="true"?>
      <page
            id="org.openiaml.model.diagram.general"
            name="%preference.page.title.org.openiaml.model.diagram.general"
            class="org.openiaml.model.model.diagram.condition.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.openiaml.model.diagram.appearance"
            name="%preference.page.title.org.openiaml.model.diagram.appearance"
            category="org.openiaml.model.diagram.general"
            class="org.openiaml.model.model.diagram.condition.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.openiaml.model.diagram.connections"
            name="%preference.page.title.org.openiaml.model.diagram.connections"
            category="org.openiaml.model.diagram.general"
            class="org.openiaml.model.model.diagram.condition.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.openiaml.model.diagram.printing"
            name="%preference.page.title.org.openiaml.model.diagram.printing"
            category="org.openiaml.model.diagram.general"
            class="org.openiaml.model.model.diagram.condition.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.openiaml.model.diagram.rulersAndGrid"
            name="%preference.page.title.org.openiaml.model.diagram.rulersAndGrid"
            category="org.openiaml.model.diagram.general"
            class="org.openiaml.model.model.diagram.condition.preferences.DiagramRulersAndGridPreferencePage">
      </page>
      <page
            id="org.openiaml.model.diagram.pathmaps"
            name="%preference.page.title.org.openiaml.model.diagram.pathmaps"
            category="org.openiaml.model.diagram.general"
            class="org.eclipse.gmf.runtime.emf.ui.preferences.PathmapsPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.openiaml.model.diagram.condition"
            labelProvider="org.openiaml.model.model.diagram.condition.sheet.IamlSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.openiaml.model.diagram.condition">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.openiaml.model.diagram.condition">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.openiaml.model.model.diagram.condition.sheet.IamlPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.openiaml.model.model.diagram.condition.navigator.IamlAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <?gmfgen generated="true"?>
      <viewProvider class="org.openiaml.model.model.diagram.condition.providers.IamlViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Iaml_Condition"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.openiaml.model.model.diagram.condition.providers.IamlEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.openiaml.model.model.diagram.condition.providers.IamlModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <?gmfgen generated="true"?>
      <IconProvider class="org.openiaml.model.model.diagram.condition.providers.IamlIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.openiaml.model.model.diagram.condition.providers.IamlParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="org.openiaml.model.model.diagram.condition.providers.IamlShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://openiaml.org/model0.2">
         <metamodelType
               id="org.openiaml.model.diagram.condition.CompositeCondition_79"
               name="%metatype.name.CompositeCondition_79"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CompositeCondition"
               edithelper="org.openiaml.model.model.diagram.condition.edit.helpers.CompositeConditionEditHelper">
            <param name="semanticHint" value="79"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://openiaml.org/model0.2">
         <metamodelType
               id="org.openiaml.model.diagram.condition.Parameter_1001"
               name="%metatype.name.Parameter_1001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Parameter"
               edithelper="org.openiaml.model.model.diagram.condition.edit.helpers.ParameterEditHelper">
            <param name="semanticHint" value="1001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://openiaml.org/model/operations">
         <metamodelType
               id="org.openiaml.model.diagram.condition.StartNode_1002"
               name="%metatype.name.StartNode_1002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="StartNode"
               edithelper="org.openiaml.model.model.diagram.condition.edit.helpers.StartNodeEditHelper">
            <param name="semanticHint" value="1002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://openiaml.org/model/operations">
         <metamodelType
               id="org.openiaml.model.diagram.condition.CancelNode_1003"
               name="%metatype.name.CancelNode_1003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CancelNode"
               edithelper="org.openiaml.model.model.diagram.condition.edit.helpers.CancelNodeEditHelper">
            <param name="semanticHint" value="1003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://openiaml.org/model/operations">
         <metamodelType
               id="org.openiaml.model.diagram.condition.FinishNode_1004"
               name="%metatype.name.FinishNode_1004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="FinishNode"
               edithelper="org.openiaml.model.model.diagram.condition.edit.helpers.FinishNodeEditHelper">
            <param name="semanticHint" value="1004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://openiaml.org/model/operations">
         <metamodelType
               id="org.openiaml.model.diagram.condition.DecisionCondition_1005"
               name="%metatype.name.DecisionCondition_1005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DecisionCondition"
               edithelper="org.openiaml.model.model.diagram.condition.edit.helpers.DecisionConditionEditHelper">
            <param name="semanticHint" value="1005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://openiaml.org/model0.2">
         <metamodelType
               id="org.openiaml.model.diagram.condition.TemporaryVariable_1006"
               name="%metatype.name.TemporaryVariable_1006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TemporaryVariable"
               edithelper="org.openiaml.model.model.diagram.condition.edit.helpers.TemporaryVariableEditHelper">
            <param name="semanticHint" value="1006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://openiaml.org/model0.2">
         <metamodelType
               id="org.openiaml.model.diagram.condition.ApplicationElementProperty_1007"
               name="%metatype.name.ApplicationElementProperty_1007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ApplicationElementProperty"
               edithelper="org.openiaml.model.model.diagram.condition.edit.helpers.ApplicationElementPropertyEditHelper">
            <param name="semanticHint" value="1007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://openiaml.org/model/operations">
         <metamodelType
               id="org.openiaml.model.diagram.condition.DecisionNode_1008"
               name="%metatype.name.DecisionNode_1008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DecisionNode"
               edithelper="org.openiaml.model.model.diagram.condition.edit.helpers.DecisionNodeEditHelper">
            <param name="semanticHint" value="1008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://openiaml.org/model0.2">
         <metamodelType
               id="org.openiaml.model.diagram.condition.DataFlowEdge_3001"
               name="%metatype.name.DataFlowEdge_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DataFlowEdge"
               edithelper="org.openiaml.model.model.diagram.condition.edit.helpers.DataFlowEdgeEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://openiaml.org/model0.2">
         <metamodelType
               id="org.openiaml.model.diagram.condition.ExecutionEdge_3002"
               name="%metatype.name.ExecutionEdge_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ExecutionEdge"
               edithelper="org.openiaml.model.model.diagram.condition.edit.helpers.ExecutionEdgeEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://openiaml.org/model0.2">
         <metamodelType
               id="org.openiaml.model.diagram.condition.ConditionalEdge_3003"
               name="%metatype.name.ConditionalEdge_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ConditionalEdge"
               edithelper="org.openiaml.model.model.diagram.condition.edit.helpers.ConditionalEdgeEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <?gmfgen generated="true"?>
      <clientContext id="Iaml_ConditionClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.openiaml.model.diagram.condition.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="Iaml_ConditionClientContext">
         <elementType ref="org.openiaml.model.diagram.condition.CompositeCondition_79"/>
         <elementType ref="org.openiaml.model.diagram.condition.Parameter_1001"/>
         <elementType ref="org.openiaml.model.diagram.condition.StartNode_1002"/>
         <elementType ref="org.openiaml.model.diagram.condition.CancelNode_1003"/>
         <elementType ref="org.openiaml.model.diagram.condition.FinishNode_1004"/>
         <elementType ref="org.openiaml.model.diagram.condition.DecisionCondition_1005"/>
         <elementType ref="org.openiaml.model.diagram.condition.TemporaryVariable_1006"/>
         <elementType ref="org.openiaml.model.diagram.condition.ApplicationElementProperty_1007"/>
         <elementType ref="org.openiaml.model.diagram.condition.DecisionNode_1008"/>
         <elementType ref="org.openiaml.model.diagram.condition.DataFlowEdge_3001"/>
         <elementType ref="org.openiaml.model.diagram.condition.ExecutionEdge_3002"/>
         <elementType ref="org.openiaml.model.diagram.condition.ConditionalEdge_3003"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.openiaml.model.diagram.condition.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.openiaml.model.diagram.condition"
           properties="isURIEditorInput"
           class="org.openiaml.model.model.diagram.condition.part.IamlUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.openiaml.model.diagram.condition.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="org.openiaml.model.diagram.condition"
           properties="isShortcut"
           class="org.openiaml.model.model.diagram.condition.part.IamlShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.openiaml.model.diagram.condition.resourceContent"/>
            <contentExtension pattern="org.openiaml.model.diagram.condition.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.openiaml.model.diagram.condition.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.openiaml.model.diagram.condition.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.openiaml.model.model.diagram.condition.navigator.IamlNavigatorContentProvider" 
            labelProvider="org.openiaml.model.model.diagram.condition.navigator.IamlNavigatorLabelProvider"
            icon="icons/obj16/ModelDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="iaml_condition_diagram"/>
               </and>
               <instanceof value="org.openiaml.model.model.diagram.condition.navigator.IamlAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.openiaml.model.diagram.condition.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.openiaml.model.model.diagram.condition.navigator.IamlAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.openiaml.model.diagram.condition.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.openiaml.model.diagram.condition.navigatorSorter" 
               class="org.openiaml.model.model.diagram.condition.navigator.IamlNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="iaml_condition_diagram"/>
                  </and>
                  <instanceof value="org.openiaml.model.model.diagram.condition.navigator.IamlAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <actionProvider
            id="org.openiaml.model.diagram.condition.navigatorActionProvider"
            class="org.openiaml.model.model.diagram.condition.navigator.IamlNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.openiaml.model.model.diagram.condition.navigator.IamlAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.openiaml.model.diagram.condition.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.openiaml.model.diagram.condition.navigatorLinkHelper"
            class="org.openiaml.model.model.diagram.condition.navigator.IamlNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.openiaml.model.diagram.condition.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.openiaml.model.model.diagram.condition.navigator.IamlAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.openiaml.model.model.diagram.condition.part.IamlDiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.openiaml.model.model.diagram.condition.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.openiaml.model.model.diagram.condition.updateDiagram"
         contextId="org.openiaml.model.model.diagram.condition.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>
</plugin>
