<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://openiaml.org/modeldoc/2009/09"
            class="org.openiaml.docs.modeldoc.ModeldocPackage"
            genModel="model/modeldoc.genmodel"/>
   </extension>

</plugin>
