<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://openiaml.org/model0.5"
            class="org.openiaml.model.model.ModelPackage"
            genModel="model/iaml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://openiaml.org/model/visual"
            class="org.openiaml.model.model.visual.VisualPackage"
            genModel="model/iaml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://openiaml.org/model/wires"
            class="org.openiaml.model.model.wires.WiresPackage"
            genModel="model/iaml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://openiaml.org/model/operations"
            class="org.openiaml.model.model.operations.OperationsPackage"
            genModel="model/iaml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://openiaml.org/model/scopes"
            class="org.openiaml.model.model.scopes.ScopesPackage"
            genModel="model/iaml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://openiaml.org/model/components"
            class="org.openiaml.model.model.components.ComponentsPackage"
            genModel="model/iaml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://openiaml.org/model/domain"
            class="org.openiaml.model.model.domain.DomainPackage"
            genModel="model/iaml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://openiaml.org/model/users"
            class="org.openiaml.model.model.users.UsersPackage"
            genModel="model/iaml.genmodel"/>
   </extension>

</plugin>
