<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://openiaml.org/simple"
            class="org.openiaml.model.owl.simple.simple.SimplePackage"
            genModel="model/simple.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://openiaml.org/iaml.test"
            class="org.openiaml.model.test.iaml.IamlPackage"
            genModel="model/technology.genmodel"/>
   </extension>

	<extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.openiaml.model.owl.objectContribution1"
            nameFilter="*.iaml"
            objectClass="org.eclipse.core.resources.IResource">

         <menu
               id="org.openiaml.model.owl.menu1"
               path="additions"
               label="&amp;Validation Tools">
            <separator
                  name="group">
            </separator>
         </menu>

		<!-- more than one popup extension is displayed in reverse order:
		     a documented bug of eclipse -->
         <action
               class="org.openiaml.model.owl.actions.TranslateIAMLToRDFAction"
               id="org.openiaml.model.owl.action1"
               label="Translate IAML model to &amp;RDF"
               menubarPath="org.openiaml.model.owl.menu1/group">
         </action>

      </objectContribution>                    

	</extension>

</plugin>
